<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body class="flex justify-center items-center bg-stone-900">
    <div class="flex flex-col justify-center p-4 max-w-md min-h-screen text-white">
        <h1 class="text-3xl font-bold">MultipleChoiceQuiz</h1>

        <div id="question" class="flex flex-col gap-2">
            {% if question is not none %}
                {% include "question.html" %}
            {% endif%}
        </div>

        <div class="flex gap-2 mt-2">
            <button
                id="confirm"
                class="p-2 rounded border grow"
                hx-get="/api/correct_answers"
                hx-include="#question_id, #answers"
                hx-target="#answers"
                hx-on::before-request="document.getElementById('confirm').classList.add('hidden')"
                hx-disable-elt="this"
                >
                Confirm
            </button>

            <button
                class="p-2 rounded border grow"
                hx-get="/api/random_question"
                hx-target="#question"
                hx-on::after-request="document.getElementById('confirm').classList.remove('hidden')"
                hx-disable-elt="this"
                >
                Next Question
            </button>
        </div>
    </div>

    <script>
        if (document.getElementById("question").childElementCount == 0) {
            document.getElementById("confirm").classList.add("hidden");
        }
    </script>
</body>
</html>
