<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body class="flex flex-col justify-center p-4 min-h-screen text-white bg-stone-900">
    <h1 class="text-3xl font-bold">MultipleChoiceQuiz</h1>

    <div id="question" class="flex flex-col gap-2">
        {% include "question.html" %}
    </div>

    <div class="grid grid-cols-2 gap-2 mt-2">
        <button
            class="p-2 rounded border"
            hx-get="/api/correct_answers"
            hx-include="#question_id, #answers"
            hx-target="#answers"
            >
            Confirm
        </button>

        <button
            class="p-2 rounded border"
            hx-get="/api/random_question"
            hx-target="#question">
            Next Question
        </button>
    </div>
</body>
</html>
